#imp{
    color:rgb(16, 100, 227);
    font-family: 'Times New Roman', Times, serif;
}
h3{
    color: rgb(58, 121, 223);
    margin-top:-20px;
}
h4{
    color:gray;
    margin-top: -20px;;
    margin-right:600px ;
}
#sp1{
    margin-left: 75px;
    margin-right: 200px;
}
#sp2{
    margin-left: 75px;
    margin-right: 200px;
    height: 200px;
}
#info{
    font-family:monospace;
    font-size: larger;
    margin-right:600px ;

}
li{
    font-size: 15px;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:gray
}
ul{
    margin-right: 600px;

}
img{
    width:170px;
    height:200px;
    position:absolute;
    border-radius: 35%;
    margin-left:0px;
    animation: skrr 1s 2;
    animation-direction: alternate ;
    
 
}

body{
    animation: change 3s infinite;
}
@keyframes change {
    0%{background-color: rgba(108, 71, 15, 0.611);}
    10%{background-color: rgba(38, 129, 64, 0.611);}
    20%{background-color: rgba(17, 89, 191, 0.611);}
    30%{background-color: rgba(244, 109, 31, 0.611);}
    40%{background-color: rgba(208, 19, 145, 0.611);}
    50%{background-color: rgba(251, 15, 15, 0.611);}
    60%{background-color: rgba(101, 16, 213, 0.611);}
    70%{background-color: rgba(234, 186, 113, 0.611);}
    80%{background-color: rgba(218, 126, 193, 0.611);}
    9%{background-color: rgba(89, 175, 67, 0.611);}
    100%{background-color: rgba(134, 131, 221, 0.611);}
}
@keyframes skrr {
    0%{transform:translate(0,0) rotate(0deg);scale:0.2 ;}
    100%{transform:translate(0,0) rotate(2120deg);scale:2 ;}
    
}
